<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <div class="lost content">
            <h2> 404 error No Data found here </h2>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>