<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h2>This is all About my QAP #3</h2>
    Hi Peter, in my QAP 3 I included all the routes that you created in class, I
    just wanted it there to be able to keep it all in one place so I could look
    back at it when I need to. To Log in type : localhost:3000/home
    <br />

    <br />
    I included a Home page because I was trying to build a login customer ID and
    Password. The story did state <u>a</u> customer that wanted to search for
    all the rentals , I didn't think they should be able to see all the customer
    Id's, but I could not make it happen, sorry! Maybe I get 'A' for effort lol.
    Although you can type in a user id and any password it will bring you to the
    Customer ID <u>OR</u> You can also
    <br />
    Click on the Customer link above and it will show a drop down button of all
    the customer Id's in the database, then click on that customer_id and it
    displays that customer rental details.
    <br />
    ps. The "Search For ID" will bring you to the Home page
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
